@media (max-width: 1025px) {
  h4 {
    text-align: center;
  }
  .reverse {
    order: 0;
  }
  .search {
  }
  .map {
    min-height: 70vh;
    width: 100%;
    border-radius: 1rem;
    border: 10px solid white;
    /* margin: auto; */
    margin: 30px auto 30px auto;
  }
  .scroll-div {
    background-color: rgb(64, 104, 161);
    width: 100%;
    height: 100%;
  }
  .header {
    display: flex;
    justify-content: center;
  }
}
