@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  font-size: 14px;
}
.suggestions-list li.highlight {
  background-color: #a0d3ff; /* Changez la couleur de fond pour indiquer le survol */
}

.header {
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.3rem 10%;
  background: rgb(15, 40, 90);
}

.logo {
  font-size: 1.3rem;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

#check {
  display: none;
}

.icons {
  position: absolute;
  right: 5%;
  font-size: 2.8rem;
  color: #fff;
  cursor: pointer;
  display: none;
}

.section {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  height: 92vh;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  background-color: rgb(64, 104, 161);
  /* flex-direction: column; */
}

/* scroll Bar */
.scroll-div {
  width: 40rem;
  overflow-y: scroll;
}

/* SIDEBAR */
.sidebar {
  width: 100%;
  background-color: rgb(64, 104, 161);
  padding: 2rem 3rem 2rem 3rem;
  display: flex;
  flex-direction: column;
}

.title_bar {
  align-self: center;
  margin-bottom: 1.5rem;
  color: #fff;
}

h4 {
  padding-top: 30px;
  font-size: 1.4em;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: rgb(130, 130, 130);
}

.search {
  background: #ffd700;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search_bar {
  position: relative;
  font-size: 0.7em;
  width: 89%;
  background: #fff;
  border-radius: 1rem;
  display: flex;
  margin-bottom: 2rem;
}

.search_bar input {
  width: 100%;
  height: auto;
  border: none;
  padding: 10px;
  outline: none;
  border-radius: 1rem;
}

/* .search button {
  width: 7rem;
  height: 3rem;
  border-radius: 35px;
  border: none;
  background-color: rgb(223, 126, 37);
  color: white;
  font-weight: 700;
  font-size: 1.3rem;
  text-transform: uppercase;
  text-align: center;
  left: 50%;
  top: 50%;
} */
/* .search a {
  text-decoration: none;
  color: #fff;
}
.search button:hover {
  background-color: transparent;
  border: 1px solid rgb(223, 126, 37);
}
.search a button:hover {
  text-decoration: none;
  color: rgb(223, 126, 37);
} */
/* GENERAL */

/* MAP */
.map {
  height: 100%;
  width: 100%;
}
/* transport option */
.transport-options {
  background: #fff;
  margin-top: 2rem;
  display: flex;
  border-radius: 1rem;
  padding: 10px;
}

.transport-bus,
.transport-horaire,
.transport-velo {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: background-color 0.3s;
}

.transport-bus i,
.transport-horaire i,
.transport-velo i {
  color: #ffd700;
  font-size: 1.2rem; /* Taille de l'icône */
}

.transport-bus b,
.transport-horaire b,
.transport-velo b {
  font-size: 0.8rem; /* Taille du texte principal */
  font-weight: bold; /* Mettre en gras */
  color: #939393;
}

.transport-bus {
  border-radius: 1rem 0 0 1rem;
}

.transport-horaire {
  border: 1px solid #ccc;
  border-top: none;
  border-bottom: none;
}

.transport-velo {
  border-radius: 0 1rem 1rem 0;
}

.transport-bus:hover,
.transport-horaire:hover,
.transport-velo:hover {
  background-color: #e0e0e0;
}

/* bouton Recentrage____ */

.boutonRecentrage {
  margin-top: 6em;
  max-width: 34px;
  max-height: 34px;
  margin-left: 0.8em;
  position: absolute;
  z-index: 500;
  cursor: pointer;
  border: 2px solid #00000071;
  background-color: #fff;
  border-radius: 20px;
}

.boutonRecentrage :hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.boutonRecentrage img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

/* ___________________________ */

.suggéré {
  font-size: 1.1rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
  color: #fff;
}

.recent-buses,
.recent-horaires,
.recent-stations {
  background: #fff;
  border-radius: 1rem;
}

.recent-bus-link {
  text-decoration: none;
  color: #000; /* Couleur du texte pour les liens */
  display: block;
  border-bottom: 1px solid #ffd700; /* Bordure inférieure pour séparation */
  border-radius: 1rem;
  display: flex;
  padding: 10px;
  color: inherit;
  cursor: pointer;
  transition: background-color 0.3s;
}

.recent-bus-link:hover {
  background-color: #e0e0e0; /* Couleur de fond au survol */
}

.recent-bus,
.recent-station {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}

.recent-horaire {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  border-bottom: 1px solid #ffd700;
  border-radius: 1rem;
  padding: 1.5rem 0;
}

.distance-bus,
.distance-station {
  font-size: 0.9rem;
  padding-left: 0.75rem;
  font-weight: bold;
  color: #ffd700;
}

.horaire-bus {
  font-size: 0.9rem;
  padding-left: 2rem;
  padding-right: 1rem;
  font-weight: bold;
  color: #ffd700;
}

.no-horaire {
  padding-left: 2rem;
  font-size: 1.3rem;
}

.name-bus,
.name-station {
  font-size: 0.91rem;
  padding-left: 1.5rem;
  color: #666;
}

.destination-bus {
  padding-right: 2rem;
  font-size: 1rem;
  color: #666;
}

.ligne-bus {
  font-size: 0.9rem;
  font-weight: bold;
  color: #666;
  padding-left: 1.75rem;
}

.destination-bus::before {
  content: "";
  display: inline-block;
  padding-right: 0.5rem;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 8px solid #666;
}

.title-bus {
  font-size: 0.9rem;
  color: #666;
  font-weight: lighter;
  padding-left: 2rem;
  padding-top: 10px;
}
/* _____________________________ */
/* Styling for the suggestions list */

.suggestions-list {
  list-style: none; /* Remove default list styling */
  margin-top: 4rem;
  width: 100%;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 1rem 1rem 1rem 1rem;
  z-index: 1000;
  padding-left: 1rem;
  left: 1rem;
}

.distance-bus1 {
  color: #ffd700;
  font-weight: bold;
}

.distance-bus2 {
  color: #ffd700;
  font-weight: bold;
}

.distance-bus3 {
  color: #ffd700;
  font-weight: bold;
}

/* -------------------------- */
/* Styling for individual suggestion items */

.invisible {
  display: none;
}

@media (max-width: 1023px) {
  .section {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  h4 {
    text-align: center;
  }

  .map {
    min-height: 60vh;
    width: 81%;
    border-radius: 12px;
    border: 5px solid white;
    box-shadow: 0 5px 25px rgba(1 1 1 /15%);
    margin: auto;
    margin-bottom: 30px;
  }
  .scroll-div {
    background-color: rgb(64, 104, 161);
    width: 100%;
    height: 100%;
  }
  .header {
    display: flex;
    justify-content: center;
  }
}
